In [ ]:
import pandas as pd

In [3]:
EPIC_CSV_PATH = "../data/silver/epic_games_clean.csv"
STEAM_CSV_PATH = "../data/silver/steam_clean.csv"
IGDB_CSV_PATH = "../data/silver/igdb_clean.csv"

df_epic = pd.read_csv(EPIC_CSV_PATH)
df_steam = pd.read_csv(STEAM_CSV_PATH)
df_igdb = pd.read_csv(IGDB_CSV_PATH)

In [5]:
df_epic.describe()

       original_price  discount_price  intermediate_price
count     6805.000000     6805.000000         6805.000000
mean        19.225571       15.968131           15.968131
std         19.957692       19.043206           19.043206
min          0.000000        0.000000            0.000000
25%          4.990000        2.990000            2.990000
50%         14.990000        9.990000            9.990000
75%         24.990000       19.990000           19.990000
max        199.990000      199.990000          199.990000

In [4]:
df_epic.isnull().sum()

title                   0
effective_date          0
seller_name             0
tags_joined           156
original_price          2
discount_price          2
intermediate_price      2
currency_code           0
dtype: int64

In [7]:
df_steam.describe()

       discount_percent    final_price  final_price_usd
count      64549.000000   64544.000000     64534.000000
mean           4.319215      37.051003        11.076815
std           16.377614    3939.389800       115.769623
min            0.000000       0.640000         0.460000
25%            0.000000       3.390000         2.420000
50%            0.000000       6.490000         4.630000
75%            0.000000      12.990000         9.260000
max          100.000000  759000.000000      8109.740000

In [5]:
df_steam.isnull().sum()

title                  16
is_free                 0
developers            145
publishers            448
categories            759
genres                110
effective_date          0
currency_code       10045
discount_percent    10045
final_price         10050
final_price_usd     10060
dtype: int64

In [8]:
df_igdb.describe()

          name  genres release_date
count   129378  121085       129379
unique  127274    2485         3998
top     Escape   Indie   2025-12-31
freq         8   16242         1967

In [6]:
df_igdb.isnull().sum()

name               1
genres          8294
release_date       0
dtype: int64